h1
{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align:center;
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}
a:link, a:visited 
{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active 
{
    background-color: purple;
		
}

ul
{
	text-align: center;
}
li
{
	display: inline;
}
html 
{ 
	background: url(images/flowers1.jpg) no-repeat center center fixed; 
	background-size: cover;
}
li.highlight
{
	list-style-position:inside;
	display:list-item;
	font-weight:bold;
	
}
